:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    text-align: center;
    letter-spacing: 1rem;
    background-color: #000;
    color: white;
    padding: 25px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #303030;
}

nav ul li {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #3d3d3d;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
}